.container {
	background-color: #c00025;
	width: 100%;
	max-width: 300px;
	border-radius: 15px;
	border: 2px solid grey;
	padding-bottom: 25px;
}

.display {
	margin-top: 25px;
	height: 75px;
	width: 275px;
	border-radius: 50px;
	color: white;
	background-color: #322c2d;
	box-shadow: 1px 1px #322c2d;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding-right: 8%;
	font-size: 4rem;
}
.logo-container{
    padding-top: 20px;
}
.logo{
    width: 100px;
}

.numbers_container {
	width: 200px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.numbers {
	border: none;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	font-size: 1.5rem;
	padding: 3%;
	background: #184379;
	color: white;
	margin: 2%;
}
